<% provide(:title, 'Help') %>
<h1>God, Help Me!</h1>
<p>
   Get web development help at
	 <a href="axiscoding.com">Axis Coding</a>.
	 If you're in need of motivation, consult
	 <a href="http://www.youtube.com/watch?v=8Py9c8IOubE">this stud</a>.
</p>
