<% provide(:title, 'Parents') %>
<h1>Jew and Fatboy</h1>
<p>
  My mom is a huge <a href="http://en.wikipedia.org/wiki/Jew">Jew
  <a/> and my dad is a quite 
  <a href="http://en.wikipedia.org/wiki/Fat">chunky</a>.  	
</p>
