<% provide(:title, 'Acquired Skills') %>
<h1>Acquired Skills</h1>
<p>
  I am good at being a huge <a href="http://en.wikipedia.org/wiki/Jew">Jew
  </a> and have become quite 
  <a href="http://en.wikipedia.org/wiki/Fat">chunky</a>.  	
</p>
